@typeparam TItem

@if (CommandContext is not null)
{
    <Button Color="Color.Success" Outline="true" Clicked="@CommandContext.Clicked">
        Save
    </Button>
}

@code {

    [Parameter]
    public CommandContext<TItem>? CommandContext { get; set; }

}
