<Div Class="landing">
    <Div Position="Position.Absolute.Top.Is0.Start.Is50.Translate.MiddleX">
        <Image Source="images/nexus_logo_large.png" />
    </Div>
    <Card Position="Position.Absolute.Bottom.Is0.Start.Is50.Translate.MiddleX" Padding="Padding.Is3"
        Margin="Margin.Is4.FromBottom" Class="landing-card">
        <h3 class="mb-3">Welcome to UnityNexus</h3>
        <Div Margin="Margin.Is3.FromBottom">
            <Login />
        </Div>
        <Div Margin="Margin.Is3.FromBottom">
            UnityNexus is a custom tool developed and used by Hand of Unity to facilitate the application process
            to the guild itself, to its many chapters, and more in the future. It replaces Guilded, which was used
            previously for the same purpose.
        </Div>
        <Div Flex="Flex.JustifyContent.Around" Margin="Margin.Is3.FromBottom">
            <Link To="privacy" Class="text-reset">Privacy</Link>
            <Link To="legal-notice" Class="text-reset">Legal Notice</Link>
        </Div>
    </Card>
</Div>
