<Container Position="Position.Relative" Fluid="true" Height="Height.Is100">
    <Div Position="Position.Absolute.Top.Is50.Translate.MiddleX.Translate.MiddleY">
        <Div Display="Display.Flex.Column">
            <Image Source="images/nexus_logo_normal.png" Text="UnityNexus Logo" />
            <Card>
                <CardBody>
                    <CardTitle TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" Size="2">
                        Login
                    </CardTitle>
                    <CardText TextAlignment="TextAlignment.Center">
                        UnityNexus is a custom developed tool handling applications for all of Hand of Unity's chapters and groups.
                    </CardText>
                    <Button Color="Color.Primary">
                        <Login />
                    </Button>
                </CardBody>
            </Card>
        </Div>
    </Div>
</Container>
