@page "/groups"

@* In the future card sizes should automatically be scaled based on Intro size *@

<PageTitle>Groups | UnityNexus</PageTitle>

<h1>Groups</h1>

<Row>
    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnTablet.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="/images/hou_logo_large.png" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="3">Hand of Unity</CardTitle>
                <CardSubtitle TextSize="TextSize.Heading5">Member</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Disabled="@true">
                    Joined! <Icon Name="IconName.Check"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnTablet.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="/images/hou_logo_large.png" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="3">Hand of Unity</CardTitle>
                <CardSubtitle TextSize="TextSize.Heading5">Social Member</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Disabled="@true">
                    Cannot Join! <Icon Name="IconName.Times"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnTablet.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="/images/hou_logo_large.png" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="3">Ashes of Creation</CardTitle>
                <CardSubtitle TextSize="TextSize.Heading5">
                    Main Guild: Hand of Unity
                </CardSubtitle>
                <Div Margin="Margin.Is1.OnY">
                    <Badge Color="Color.Info">Min. 25 hrs weekly</Badge>
                    <Badge Color="Color.Info">Event participation mandatory</Badge>
                </Div>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                    Apply <Icon Name="IconName.Pen"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnTablet.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="/images/hou_logo_large.png" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="3">Ashes of Creation</CardTitle>
                <CardSubtitle TextSize="TextSize.Heading5">Social Guild: Fellowship of Unity</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                    Apply <Icon Name="IconName.Pen"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
</Row>
