<Container Fluid="true" Height="Height.Is100">
    <Div Flex="Flex.AlignItems.Center.JustifyContent.Center" Height="Height.Is100">
        <Div Flex="Flex.Column">
            <h2 class="auth-header-text my-4">Authorizing ...</h2>
        </Div>
    </Div>
</Container>
