@page "/admin/groups"

<PageTitle>Groups</PageTitle>

<h1>Groups</h1>

<CardDeck>
    <Card>
        <CardImage Source="#" Alt="Group Logo"></CardImage>
        <CardBody>
            <CardTitle Size="5">Hand of Unity Members</CardTitle>
            <CardText>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
            </CardText>
            <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                Edit <Icon Name="IconName.Edit"></Icon>
            </Button>
            <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                Manage Forms <Icon Name="IconName.ListUl"></Icon>
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardImage Source="#" Alt="Group Logo"></CardImage>
        <CardBody>
            <CardTitle Size="5">Hand of Unity Members</CardTitle>
            <CardSubtitle></CardSubtitle>
            <CardText>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
            </CardText>
            <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                Edit <Icon Name="IconName.Edit"></Icon>
            </Button>
            <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                Manage Forms <Icon Name="IconName.ListUl"></Icon>
            </Button>
        </CardBody>
    </Card>
</CardDeck>
