@page "/groups"

<PageTitle>Groups</PageTitle>

<h1>Groups</h1>

<Row>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="#" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="5">Hand of Unity</CardTitle>
                <CardSubtitle>Member</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Disabled="@true">
                    Joined! <Icon Name="IconName.Check"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="#" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="5">Hand of Unity</CardTitle>
                <CardSubtitle>Social Member</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Disabled="@true">
                    Cannot Join! <Icon Name="IconName.Times"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="#" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="5">Ashes of Creation</CardTitle>
                <CardSubtitle>Main Guild: Hand of Unity</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                    Apply <Icon Name="IconName.Pen"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardImage Source="#" Alt="Group Logo"></CardImage>
            <CardBody>
                <CardTitle Size="5">Ashes of Creation</CardTitle>
                <CardSubtitle>Social Guild: Fellowship of Unity</CardSubtitle>
                <CardText Margin="Margin.Is2.OnY">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                    Apply <Icon Name="IconName.Pen"></Icon>
                </Button>
            </CardBody>
        </Card>
    </Column>
</Row>
