/* Top-level */
html, body {
    position: relative;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 768px) {
    #app {
        flex-direction: row;
    }
}

/* default HTML overrides */
h1:focus {
    outline: none;
}

/* Bootstrap overrides */
.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.no-border {
    border: 0;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #7a8288 !important;
    pointer-events: none;
    background-color: transparent;
}

.pre-text {
    white-space: pre-line;
    font-family: inherit;
    font-size: 100%;
}

/* Validation */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.required::after {
    content: "*";
    color: red;
    font-size: larger;
}

.disabled-feature {
    color: #63676b;
}

/* Custom */
.landing {
    background-image: url("../images/landing-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -1.5rem;
    height: calc(100% + 3rem);
}

/* ProgressBar */
.progress-bar {
    color: #ffffff;
    font-weight: bold;
}

.bar-step {
    position: absolute;
    margin-top: -20px;
    z-index: 1;
    font-size: 12px;
}

.label-line {
    float: right;
    background: #ffffff;
    height: 50px;
    width: 1px;
    margin-left: 5px;
}

.label-percent {
    float: left;
}

/* Loading screen Customization */
.loading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #00bb00;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    text-align: center;
    font-weight: bold;
    margin-top: -4.6rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

.e-grid {
    min-height: 150px;
}

/* Uncategorized */
.default-cursor-tooltip {
    cursor: default !important;
}

.align-left-tooltip {
    float: left;
}
