html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Unverified copied */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (min-width: 768px) {
    #app {
        flex-direction: row;
    }
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.dropdown-item {
    cursor: pointer;
}

.required::after {
    content: "*";
    color: red;
    font-size: larger;
}

.disabled-feature {
    color: #63676b;
}

.pre-text {
    white-space: pre-line;
    font-family: inherit;
    font-size: 100%;
}

.fixed-table-layout {
    table-layout: fixed;
}

/**** User menu ****/
.usermenu-dropdown {
    width: 250px;
}

.usermenu-dropdown-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.usermenu-dropdown-toggler:after {
    content: none
}

/**** Bootstrap customization ****/
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #7a8288 !important;
    pointer-events: none;
    background-color: transparent;
}

.progress-bar {
    color: #ffffff;
    font-weight: bold;
}