<Container Fluid="true"
           Height="Height.Is100">
    <Div Flex="Flex.AlignItems.Center.JustifyContent.Center"
         Height="Height.Is100">
        <Div Flex="Flex.Column">
            <Div Class="scan">
                <Div Class="fingerprint" />
            </Div>
            <Heading Size="HeadingSize.Is2"
                     Margin="Margin.Is4.OnY"
                     Class="auth-header-text">
                Authorizing ...
            </Heading>
        </Div>
    </Div>
</Container>
